.escena-details {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 20px;
    overflow-x: auto;
  }
  
  .detail-box {
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto;
    max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
  }
  
  .detail-box h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .detail-box p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
  }
  
  .detail-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .detail-box li {
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
  }

  .detail-checkbox {
    display: flex;
    align-items: center;
  }
  .detail-checkbox input[type="checkbox"] {
    margin-right: 5px;
  }
  .detail-checkbox label {
    margin-left: 5px;
  }


  .escena-list-ul {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .escena-form-container {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }