/* Estilos generales de la página de Login */
.login-page .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  background: url('/public/collage-fondo-pelicula.jpg');
  background-size: cover; /* Cubre todo el contenedor*/
  background-position: center; /* Centra la imagen */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(10, 0, 0); /* Color de texto general (negro para contraste) */
}

.login-page .login-form {
  background-color: rgba(250, 250, 250, 0.8); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Efecto difuminado */
  padding: 40px;
  border-radius: 10px; /* Bordes redondeados */
  width: 350px; /* Ancho del formulario */
  text-align: center;
}

/* Estilos de los elementos del formulario */
.login-page .login-form h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

.login-page .form-group {
  margin-bottom: 20px;
}

.login-page .form-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.login-page .form-group input {
  width: 100%;
  padding: 10px;
  border: none; /* Eliminamos el borde */
  border-radius: 5px; /* Bordes redondeados */
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
}

.login-page .form-group input:focus {
  outline: none; /* Eliminamos el contorno al hacer foco */
}

/* Estilos de los botones */
.login-page .login-button {
  background-color: #4CAF50; /* Color verde */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-page .login-button:hover {
  background-color: #45a049; /* Color verde más oscuro al pasar el mouse */
}

.login-page .register-button {
  margin-top: 20px;
  background-color: #085fe2; /* Color azul para diferenciar */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-page .return-home-button {
  margin-top: 20px;
  background-color: #bd0e0ee8; /* Color azul para diferenciar */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-page .register-button:hover {
  background-color: #007799;
}

/* Estilos del popup de error */
.login-page .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 10; /* Asegura que el popup esté por encima */
}

.login-page .popup-inner {
  text-align: center;
}

.login-page .popup button {
  background-color: #f44336; /* Color rojo para el botón de cerrar */
  margin-top: 10px;
}
