/* PlanDeRodaje.css */
.plan-de-rodaje {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.plan-de-rodaje-header {
  position: relative;
}

.capitulo-button {
  background-color: #bb7cee;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.btn-dashboard-container {
  position: absolute;
  top: 10px;
  left: 20px;
}

.titulo-proyecto {
  text-align: center;
  margin-bottom: 20px;
}

.plan-de-rodaje-body {
  display: flex;
  width: 100%;
  height: calc(100vh - 200px); /* Ajusta el valor según sea necesario */
}

.escenas-container {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.dias-de-rodaje-container {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.plan-de-rodaje-filtros {
  margin-bottom: 20px;
  padding: 10px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.escena-item {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 5px;
  cursor: move;
  border: 1px solid #ccc; /* Añadir un borde para mejor visualización */
}

.bloque-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 5px;
  cursor: move;
  border: 1px solid #ccc; /* Añadir un borde para mejor visualización */
}

.dias-de-rodaje {
  flex: 1;
  padding: 10px;
}

.dia-de-rodaje {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.dia-info {
  margin-bottom: 10px;
  text-align: center;
}

.bloque-asignado {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bloque-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bloque-info span {
  margin-bottom: 5px;
}

.bloque-escena {
  display: flex;
  align-items: center;
}

.bloque-escena span {
  margin-right: 10px;
}

.bloques-wrapper {
  height: 100%;
  overflow-y: auto; /* Asegura que haya desplazamiento vertical si es necesario */
}

.escena-list .escena-item,
.bloque-list .bloque-item {
  cursor: grab;
}


