.plan-de-rodaje {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative; /* Añadido para posicionamiento absoluto */
}

.plan-de-rodaje-body {
  display: flex;
  flex-direction: row;
}

.filtros-container {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.formulario-container {
  flex: 1;
  padding: 10px;
}

.btn-dashboard-container {
  position: absolute;
  top: 10px;
  left: 20px;
}

.titulo-proyecto {
  text-align: center;
  flex-grow: 1;
}

.plan-de-rodaje-filtros {
  margin-bottom: 20px;
}

.nuevo-dia-form {
  display: flex;
  align-items: center;
}

.nuevo-dia-form input {
  margin-right: 10px;
}

.guardar-plan-btn {
  display: block;
  margin-top: 10px;
}

/* Estilos adicionales según lo necesitado */
.escenas-container {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.escenas-container h3 {
  margin-top: 0;
}

.escenas-container ul {
  list-style-type: none;
  padding: 0;
}

.escena-item {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 5px;
  cursor: move;
}

.dias-de-rodaje {
  flex: 1;
  padding: 10px;
}

.dia-de-rodaje {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.dia-info {
  margin-bottom: 10px;
}

.escenas-asignadas,
.inventario-asignado {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}
